{% extends "base.html" %}


{% block content %}

<div class="row">
    <!-- load left sidebar-->
    {% include "dashboard/sidebar.html"%}
   

<!-- right side-->    
<div class="col-md-9">
    <h3>All Categories </h3>
    <a href="{% url 'add_category'%}" class="btn btn-dark text-light float-right mb-2"> Add new</a>
    <table class="table table-hover">
  <thead>
    <tr>
      <th >#</th>
      <th>Category  Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for cat in categories%}

    <tr>
      <th scope="row">{{ forloop.count}}</th>
      <td colspan="2">{{ cat }}</td> 
      <td colspan="2">{{ cat.created_at }}</td> 
      <td colspan="2">{{ cat.updated_at }}</td> 
      <td>
        <a href="{% url "edit_category" cat.id %}"><i class="fa fa-edit text-success"></i></a>
        &nbsp;
        <a href="{% url "delete_category" cat.id %}"><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
   
    
</div>

</div>



{% endblock  %}
